@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=League+Spartan&family=Montserrat:wght@100&family=Nunito:wght@200&family=Outfit&display=swap');

:root{    
/* -----------------------BORDER------------------------- */
    --Border: 1px solid black;


/* -----------------------COLOR------------------------- */   
    --COLOR-Very-Dark-Magenta: hsl(300, 43%, 22%);
    --COLOR-Soft-Pink: hsl(333, 80%, 67%);

    --COLOR-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --COLOR-Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --COLOR-White: hsl(0, 0%, 100%);

/* -----------------------FONT SIZE------------------------- */   
    --FS: 15px;

/* -----------------------FONT FAMILY------------------------- */   
    --FF: 'League Spartan', sans-serif;
/* -----------------------FONT WEIGHT------------------------- */   
    --FW-S: 400;
    --FW-M: 500;
    --FW-L: 700;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--FF);
    font-size: var(--FS);
    font-weight: var(--FW-S);
    color: var(--COLOR-Very-Dark-Magenta);

    background-image: url(/Challange5_social-proof-section-master/images/bg-pattern-top-desktop.svg);
    background-repeat:repeat-x;

}

.container{
    width: 1200px;
    height: auto;    


    display: flex;
    flex-direction: column;

    
}


/* -----------------------TOP------------------------- */
.top{
    width: 100%;
    height: 250px;
    
    display: flex;
    justify-content: space-between;

}
/* -----------------------TOP LEFT------------------------- */
.article{
    width: 350px;
    height: auto;
}
.h1{
    font-size: 3rem;
    font-weight: var(--FW-L);
    line-height: 2.8rem;
}
.description{
    color: var(--COLOR-Dark-Grayish-Magenta);

    
    margin-top: 20px;
}


/* -----------------------TOP RIGHT------------------------- */
.rate-score{
    width: 600px;
    height: auto;

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;
}

.rate-score *{
    width: 400px;
    height: 40px;

    border: var(--Border);
    border-radius: 5px;
    display: flex;

    list-style: none;
    border: none;

    font-weight: var(--FW-L);
}

.rate-score li{
    background-color: var(--COLOR-Light-Grayish-Magenta);
}

.rate-score li:nth-child(2){
  align-self: center;  
}
.rate-score li:nth-child(3){
    align-self: flex-end;
    justify-self: flex-end;
}

.group-icon{
    
    width: 140px;

    display: flex;
    align-items: center;

    margin-left: 30px;

   
}
.icon-star{
    width: 100%;
    height: 20px;
    background-image: url(/Challange5_social-proof-section-master/images/icon-star.svg);
    background-repeat: space;

   
}
.topic-text{
    width: 200px;

    display: flex;
    align-items: center;

    margin-left: 30px;
    
}

/* -----------------------BOTTOM------------------------- */

.bottom{
    width: 100%;
    height: 250px;        

    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}

.card{
    width: 300px;
    height: 190px;

    border: var(--Border);
    border-radius: 8px;
    padding: 20px;

    line-height: 20px;
    background-color: var(--COLOR-Very-Dark-Magenta);
    color: var(--COLOR-White);
}

.verified{
    color: var(--COLOR-Soft-Pink)
}

.user2{
    align-self: center;
}

.user3{
    align-self: flex-end;
}


.data-user{
    display: flex;
    align-items: center;
    
}
.post-user{
    margin-top: 20px;
    
}


.profile-user{
    width: 30px;
    height: 30px;

    border-radius: 50%;    
}
.name-user{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}



/* -----------------------RESPONSIVE ------------------------- */
@media screen and (max-width:1050px) {
    
    body{
        height: 100%;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;    
        
        display: flex;
        align-items: unset;
        justify-content: center;
    }

    .container{       
        height: auto;
        width: 375px;
        margin-top: 3rem;
        
     }

/* -----------------------TOP------------------------- */
     .top{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 2rem;

    }
    .article{
        text-align: center;
    }
    .h1{
        padding: 0.5rem 0 0.5rem 0;
        line-height: 2.5rem;
    }

    .rate-score{
        display:  flex;
        align-items: center;
        justify-content: unset;   
        
        padding: 0;
        margin-top: 1rem;
    }

    .rate-score li{
        margin-top: 20px;
        height: auto;
    }
    .rate-score li:nth-child(3){
        align-self: unset;
    }
    .rate-score .score{
        height: auto;
    }
    .rate-score .score ,.rate-score .topic{
        display:  flex;
        flex-direction: column;
        align-items: center;    
    }
    .rate-score .group-icon{
        height: auto;
        margin-top: 1rem;
    }
    
    .topic-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .group-icon{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .icon-star{
        width: 70%;
    }
/* -----------------------BOTTOM------------------------- */
    .bottom{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;

        padding-bottom: 2rem;
    }

    .bottom .user3{
        align-self: unset;
    }
    .bottom .card{
        margin-bottom: 20px;
    }

   
    

}


