@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=League+Spartan&family=Montserrat:wght@100&family=Nunito:wght@200&family=Outfit&family=Overpass:wght@100;300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
/*-------------------------COLOR------------------------- */
    /* Primary */
    --C-Light-red-CTA-text: hsl(356, 100%, 66%);
    --C-Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --C-Very-dark-blue-headings: hsl(208, 49%, 24%);


    /* Neutral */
    --C-White-text: hsl(0, 0%, 100%);
    --C-Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --C-Very-dark-grayish-blue-body-copy-: hsl(207, 13%, 34%);
    --C-Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);


    /* Gradient */
    /* Background gradient - Intro/CTA mobile nav */
    --C-Very-light-red: hsl(13, 100%, 72%);
    --C-Light-red: hsl(353, 100%, 62%);

    /* Background gradient - body */
    --C-Very-dark-gray-blue: hsl(237, 17%, 21%);
    --C-Very-dark-desaturated-blue: hsl(237, 23%, 32%);

/*-------------------------FONT------------------------- */
    /* FONT FAMILY */
    --FF-OVERPASS: 'Overpass', sans-serif;
    --FF--UBUNTU: 'Ubuntu', sans-serif;

    /* FONT SIZE */
    --FS:16px;

    /* FONT WEIGHT */
    --FW-OVERPASS-S:300;
    --FW-OVERPASS-M:600;

    --FW-UBUNTU-S:400;
    --FW-UBUNTU-M:500;
    --FW-UBUNTU-L:700;
/*-------------------------Layout------------------------- */
    --L-Mobile: 375px;
    --L-Desktop: 1440px;
}

header{
    background: url("/Challange8_blogr-landing-page-main/images/bg-pattern-intro-mobile.svg"), linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: 35% 40%;
    opacity: 0.85;
    border-radius: 0 0 0 7rem;
    font-family: var(--FF--UBUNTU);
    font-weight: var(--FW-UBUNTU-M);
}
header h1{
    font-size: 1.9rem;
}
header p{
    font-family: var(--FF-OVERPASS);
    font-size: var(--FS);
    font-weight: var(--FW-OVERPASS-S);
}


.i-arrow{
    content: url("./images/icon-arrow-dark.svg");
    padding-left: 0.2rem;
    transition: all 0.5s ease-in-out;
    transform: rotate(180deg);

}

.ihambergur{
    content: url("./images/icon-hamburger.svg");
}

.iclose{
    content: url("./images/icon-close.svg");
}
.i-arrow-rotate .i-arrow{
    transition: all 0.5s ease-in-out;
    transform: rotate(0deg);
}
.shidden{
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease;
}
.shight-product{
    height: 190px;
}
.shight-company{
    height: 150px;
}
.shight-connect{
    height: 120px;
}

.schoicemenu:hover{
    cursor: pointer;
}

/* PATTERN INTRO */
.sec1-img{
    content: url("/Challange8_blogr-landing-page-main/images/illustration-editor-mobile.svg");
    margin: 2rem auto;
    height: 70vw;
    width: 90vw;
}
.sec1 >h1 , .sec1-description section h1{
    font-family: var(--FF-OVERPASS);
    font-size: 1.5rem;
    font-weight: var(--FW-OVERPASS-M);
    text-align: center;
    line-height: normal;
    padding: 0 3rem;
}
.sec1-description section p{
    font-family: var(--FF-OVERPASS);
    font-size: var(--FS);
    text-align: center;
    padding: 0 2rem;
    margin-top: 1rem;
}


/*--------------SEC2--------------*/
.sec2{
    background: url(/Challange8_blogr-landing-page-main/images/bg-pattern-circles.svg), linear-gradient(150deg, hsl(237, 17%, 21%) 0%, hsl(237, 23%, 32%));
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-position:center bottom 200px, center;
    background-repeat: no-repeat;
    background-size: 160% auto;
    color: var(--C-White-text);
    max-height: 550px;
    height: 550px;
    position: relative;
}
.sec2-img{
    content: url("/Challange8_blogr-landing-page-main/images/illustration-phones.svg");
    width: 340px;
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%);
}
.sec2-group {
    padding-top: 14rem;
}
.sec2-group h1,.sec2-group p{
    font-family: var(--FF-OVERPASS);
    text-align: center;
    padding: 0 2rem;
}
.sec2-group h1{
    font-size: 2rem;
    line-height: normal;
    font-weight: var(--FW-OVERPASS-M);
}
.sec2-group p{
    font-size: var(--FS);
    font-weight: var(--FW-OVERPASS-S);
    color: var(--C-Grayish-blue-footer-text);
    margin-top: 1rem;
}

/*--------------SEC3--------------*/
.sec3{
    padding-bottom: 4rem;
}
.sec3-inside-img{
    content: url("./images/illustration-laptop-mobile.svg");
    width: 90vw;
    margin: 0 auto;
}

.sec3-description1 , .sec3-description2{
    font-family: var(--FF-OVERPASS);
    text-align: center;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 504px;
}
.sec3-description1 h1 , .sec3-description2 h1 {
    color: var(--C-Very-dark-blue-headings);
    font-size: 2rem;
    font-weight: var(--FW-OVERPASS-M);
}
.sec3-description1 p , .sec3-description2 p {
    color: var(--C-Very-dark-grayish-blue-body-copy-);
    font-size: var(--FS);
    font-weight: var(--FW-OVERPASS-S);
    margin-top: 1rem;
}


@media only screen and (min-width:1024px){
    .i-arrow{
        content: url("./images/icon-arrow-light.svg");    
    }
    .sec1 >h1{
        padding: 0;
    }
    .sec1-img{
        content: url("/Challange8_blogr-landing-page-main/images/illustration-editor-desktop.svg");
        top: 2rem;
        left: 53%;
        margin: 2rem auto;
        height: 60vw;
        width: 65vw;
        z-index: -99;
    }
    
    .sec1-description section h1 , .sec1-description section p{
        padding-left: 7rem;
        padding-right: 9rem;
        text-align: start;
        z-index: -99;
    }

    .sec2{
        background-position:top -550px left -215px, center;
        background-size: 100% auto;
        display: flex;    
        justify-content: end;
        margin-top: 0;    
        max-height: 350px;
    }
    .sec2-group{
        width: 50vw;
        padding-top: 6rem;
        padding-right: 2rem ;
        margin-top: 0;
    }
    .sec2-img{
       width: 460px;
       top:-3rem;
       left: 8rem;
       transform: translateX(0);
    }
    .sec2-group h1,.sec2-group p{
        text-align: start;
    }

    .sec3{
        display: flex;
    }
    .sec3-img ,.sec3-group{
        width: 50vw;
        margin: 0;
    }
    .sec3-group{
        margin-top: 10rem;
    }
    .sec3-inside-img{
        margin: auto 0;
        margin-left: -30%;
        width: 60vw;
    }
    .sec3-description1 , .sec3-description2{
        text-align: start;
        margin: 0;
    }
}