@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=League+Spartan&family=Montserrat:wght@100&family=Nunito:wght@200&family=Outfit&family=Overpass:wght@100&display=swap');

:root{
/* --------------------COLOR-------------------- */
--BORDER:1px solid black;

/* --------------------COLOR-------------------- */
  --C-Soft-red: hsl(7, 99%, 70%);
  --C-Yellow: hsl(51, 100%, 49%);
  --C-Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --C-Dark-blue: hsl(198, 62%, 26%);
  --C-Dark-moderate-cyan: hsl(168, 34%, 41%);

  --C-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --C-Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --C-Dark-grayish-blue: hsl(232, 10%, 55%);
  --C-Grayish-blue: hsl(210, 4%, 67%);
  --C-White: hsl(0, 0%, 100%);

/* --------------------FONT FAMILY-------------------- */
  --FF-BARLOW:'Barlow', sans-serif;
  --FF-FRAUNCES: 'Fraunces', serif;
/* --------------------FONT SIZE-------------------- */
  --FS:18px;
/* --------------------FONT WEIGHT-------------------- */
  --FW-BARLOW:600;
  --FW-FRAUNCES-S:700;
  --FW-FRAUNCES-M:900;
/* --------------------SCREEN SIZE-------------------- */
  --SIZE-MOBILE:375px;
  --SIZE-DESKTOP:1440px; 
}






/* --------------------START-------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: auto;
  width: 100%;
}

/* --------------------HEADER-------------------- */
.item1{
  background-image: url("/Challange7_sunnyside-agency-landing-page-main/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: 50% 90%;
  width: 100%;
  height: 700px;
}

.item1{  
  color: var(--C-White);
}

.item1-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.item1-nav > ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item1-nav > ul li{  
  height: 2rem;
  list-style: none;
  height: 2.5rem;
}

.item1-a a{
  display: flex;
  align-items: center;   
  border-radius: 2rem;  
  color: var(--C-White);  
  height: 100%;
  padding: 0 1.5rem;
  font-family: var(--FF-BARLOW);
  font-size: 1rem;  
  text-decoration: none;

}
.item1-a:hover a{
  background-color: var(--C-White);  
  color: black;
  height: 100%;
  font-family: var(--FF-FRAUNCES);
  text-transform: uppercase;
}
.item1-a:active a{
  background-color: rgba(245, 245, 245, 0.544);
}

.item1-topic{
  display: flex;
  justify-content: center;
  font-family: var(--FF-FRAUNCES);
  font-size: 3rem;
  font-weight: var(--FW-FRAUNCES-M);
  text-transform: uppercase;
  word-spacing: 0.5rem;
  margin-top: 7rem;
}

.item1-icon{
  font-size: 1.5rem;
  font-family: var(--FF-FRAUNCES);
}

.item1-arrow{
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

ion-icon {
  font-size: 1rem;
  transform: scale(8,8);
}

/* --------------------FLEX-------------------- */
.flex{
  display: flex; 
  width: 100%; 
}
.flex-text , .flex-img{
  width: 50%;
}
.flex-img img {
  width: 100%;
  height: 100%;
}

/* --------------------FLEX REVERSE-------------------- */
.flex-reverse{
  flex-direction: row-reverse;
}

/* --------------------FLEX TEXT-------------------- */
.flex-text{
  background-color: var(--C-White);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-group1{
  width: 60%;
}
.text-group2{
  width: 70%;
}

.text-title1{
  color: var(--C-Very-dark-desaturated-blue);
  font-family: var(--FF-FRAUNCES);
  font-size: 3rem;
  font-weight: var(--FW-FRAUNCES-M);
  margin-bottom: 2rem;
}

.text-description1{
  color: var(--C-Dark-grayish-blue);
  font-family: var(--FF-BARLOW);
  font-size: var(--FS);
  margin-bottom: 2rem;
}

.text-link{
  color: var(--C-Very-dark-desaturated-blue);
  font-family: var(--FF-FRAUNCES);
  text-transform: uppercase;
  text-decoration: none;
}

/* --------------------FLEX IMG RELATIVE-------------------- */
.graphic-relative{
  position: relative;
}
.text-group3{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,50%);
}
.text-title2 , .text-description2{
  text-align: center;
}
.text-title2{
  margin-bottom: 2rem;
  font-family: var(--FF-FRAUNCES);
  font-size: 2rem;
  text-transform: capitalize;
  /* color: var(--C-Very-dark-grayish-blue); */
  color: var(--C-Dark-blue);
}

.text-description2{
  font-family: var(--FF-BARLOW);
  font-size: var(--FS);
  color: var(--C-Dark-moderate-cyan);
}

/* --------------------CLIENT TEST-------------------- */
.client-test{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5rem;
}

.client-topic{
  color: var(--C-Grayish-blue);
  font-family: var(--FF-FRAUNCES);
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 2rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.3rem;
}

.client-all{
  display: flex;  
}

.client-card{
  display: flex;
  flex-direction: column;  
  align-items: center;
  padding: 2rem;
  
}
.client-profile{
  border-radius: 50%;
  height: 70px;
  width: 70px;  
  margin-bottom: 3rem;
}
.client-description{
  text-align: center;
  margin-bottom: 3rem;
  width: 320px;
  max-width: 320px;
  line-height: 1.5rem;
  font-family: var(--FF-BARLOW);
  color: var(--C-Very-dark-grayish-blue);
}
.client-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.client-name{
  font-family: var(--FF-FRAUNCES);
  margin-bottom: 0.8rem;
  font-weight: var(--FW-FRAUNCES-M);
}
.client-job{
  font-family: var(--FF-BARLOW);
  color: var(--C-Grayish-blue);
}

/* --------------------SECOND FOOT-------------------- */
.second-foot{
  display: flex;
}
.second-foot-img{
  height: auto;
  width: 25%;
}

/* --------------------SECOND FOOT-------------------- */
.footer{
    background-color:var(--C-Grayish-blue);
}
.footer-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.footer-icon{
  color: var(--C-Dark-desaturated-cyan);
  font-family: var(--FF-FRAUNCES);
  font-size: 2rem;
  font-weight: var(--FW-FRAUNCES-M);

}
.footer-nav{
  display: flex;
  margin-top: 2rem;
}
.footer-a{
  list-style: none;
  padding: 0 2rem;
}
.footer-a a{
  color: var(--C-Dark-moderate-cyan);
  font-family: var(--FF-BARLOW);
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-multi-icon{
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
}
.fa-brands{
  padding: 0 1rem;  
  color: var(--C-Dark-desaturated-cyan);
  font-size: 1.2rem;
}
