@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=League+Spartan&family=Montserrat:wght@100&family=Nunito:wght@200&family=Outfit&family=Overpass:wght@100&display=swap');

:root{
/* --------------------COLOR-------------------- */
--BORDER:1px solid black;

/* --------------------COLOR-------------------- */
  --C-Soft-red: hsl(7, 99%, 70%);
  --C-Yellow: hsl(51, 100%, 49%);
  --C-Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --C-Dark-blue: hsl(198, 62%, 26%);
  --C-Dark-moderate-cyan: hsl(168, 34%, 41%);

  --C-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --C-Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --C-Dark-grayish-blue: hsl(232, 10%, 55%);
  --C-Grayish-blue: hsl(210, 4%, 67%);
  --C-White: hsl(0, 0%, 100%);

/* --------------------FONT FAMILY-------------------- */
  --FF-BARLOW:'Barlow', sans-serif;
  --FF-FRAUNCES: 'Fraunces', serif;
/* --------------------FONT SIZE-------------------- */
  --FS:18px;
/* --------------------FONT WEIGHT-------------------- */
  --FW-BARLOW:600;
  --FW-FRAUNCES-S:700;
  --FW-FRAUNCES-M:900;
/* --------------------SCREEN SIZE-------------------- */
  --SIZE-MOBILE:375px;
  --SIZE-DESKTOP:1440px; 
}






/* --------------------START-------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: auto;
  width: 100%;
}
